@mixin font($weight, $size, $height, $spacing) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin column($count, $gap) {
  width: calc((100% - $gap * ($count - 1)) / $count);
}

@mixin mobile {
  @media screen and (min-width: 414px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin desctop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
