:root {
  --footer-color: #0e0c07;
  --akzent-yellow: #f3c653;
  --white: #ffffff;
  --black: #000000;
  --brown: #c79002;
  --bg-lemon: #fffdee;
  --bg-dark-lemon: #f0ecd6;
  --text-color: #7a7a7a;
}
