<section>
  <div>
  <p>Amet minim mollit non</p>
  <p>MIMIHO</p>
</div>
<div>
  <h2>Трьохмісний номер</h2>
  <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
</div>
  <picture>
    <source
    srcset="./images/room3adult.jpg 1x, ./images/room3adult.jpg 2x"
    media="(min-width: 1280px)"
  />
  <source
    srcset="
      ./images/room3adult.jpg    1x,
      ./images/room3adult.jpg 2x
    "
    media="(min-width: 1024px)"
  />
  <source
    srcset="
      ./images/room3adult.jpg    1x,
      ./images/room3adult.jpg 2x
    "
    media="(min-width: 414px)"
  />
  <img
    src="./images/room3adult.jpg"
    alt="Зображення трьохмісного готельного номеру"
    width="244"
  />
</picture>
<!-- тут повинен бути слайдер -->
<div>
  <img
    src="./images/sliderimage.jpg"
    alt="Зображення слайдеру"
    width="194"
  />
</div>
  <a href="./room-triple.html">Детальніше</a>
  <button type="button">Переглянути ціни</button>
</section>