.slider-card {
  //змінити у всіх файлах
  padding: 0 12px;
  // border-radius: 2px; //змінити у всіх файлах

  @include tablet {
    padding: 0px 20px;
  }
}
// ЗАГАЛЬНІ ВЛАСТИВОСТІ СЛАЙДЕРУ
/* Слайдер */
.slick-slider {
  min-width: 0;
}
/* Оболонка слайдеру */
.slick-list {
  overflow: hidden;
}
/* Стрічка слайдів */
.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-arrow:before {
  content: '';
}

//*****СЛАЙДЕР НА ДВІ КАРТИНКИ*******

$slider-padding-mobile: 8px;
$slider-padding-tablet: 20px;
$slider-padding-desktop: 20px;

.slider-2pictures .slider-card {
  padding: 0 8px;

  @include tablet {
    padding: 0px 20px;
  }
}
.slider-2pictures .slider-card img {
  max-width: 194px;
  @include desktop {
    max-width: 254px;
  }
}

.slider-wrapper {
  overflow: hidden;
  width: calc((194px + #{$slider-padding-mobile} * 2) * 2);
  padding: ($slider-padding-mobile * 2) 0 20px;
  margin-top: ($slider-padding-mobile * -2);
  @include tablet {
    width: calc((194px + #{$slider-padding-tablet} * 2) * 2);
    padding: ($slider-padding-tablet * 2) 0 32px;
    margin-top: ($slider-padding-tablet * -2);
  }
  @include desktop {
    padding: ($slider-padding-desktop * 2) 0;
    width: calc((254px + #{$slider-padding-desktop} * 2) * 2);
  }
}
.slider-wrapper--right {
  transform: translateX(calc(115px - #{$slider-padding-mobile}));

  @include tablet {
    transform: translateX(0);
  }

  @include desktop {
    margin-left: ($slider-padding-desktop * -1);
  }
}

.slider-wrapper--left {
  transform: translateX(calc(-1*(115px + #{$slider-padding-mobile})));

  @include tablet {
    transform: translateX(0);
  }

  @include desktop {
    // margin-left: ($slider-padding-desktop * -1);
    margin-left: calc((100% - (254px + #{$slider-padding-desktop}) * 2) - #{$slider-padding-desktop});
  }
}

.slider-thumb {
  border-radius: 2px;
  overflow: hidden;
}

.slick-slide .slider-shadow {
  box-shadow: none;
  overflow: hidden;
  border-radius: 2px;
  transition: box-shadow 0.3s ease-in-out;
}

.slick-slide.slick-active .slider-shadow {
  box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.12);
  @include tablet {
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.25);
  }
}

.slider-2pictures .slick-list {
  overflow: visible;
}

.slider-arrows {
  display: flex;
  gap: 32px;
}

.slider-arrows--right {
  justify-content: flex-end;
  @include tablet {
    justify-content: flex-start;
    transform: translateX($slider-padding-tablet);
  }
  @include desktop {
    transform: translateX(0);
  }
}

.slider-arrows--left {
  justify-content: flex-start;
  @include tablet {
    justify-content: flex-end;
    transform: translateX($slider-padding-tablet * -1);
  }
  @include desktop {
    transform: translateX(0);
  }
}

.slider-arrows .slick-arrow {
  padding: 0;
  @extend %full-flex-centered;
  border: none;
  cursor: pointer;
  color: var(--black);
  background-color: transparent;

  &:hover {
    color: var(--accent-color);
  }
}

.arrow-image {
  fill: currentColor;
}

//! ABOUT

.slider-about .slick-slide img {
  max-width: 245px;
  @include tablet {
    max-width: 194px;
  }
  @include desktop {
    max-width: 245px;
  }
}

.about-res__slider .slick-slide img {
  max-width: 245px;
  @include tablet {
    max-width: 194px;
  }
  @include desktop {
    max-width: 254px;
  }
}

.slider-about {
  position: relative;
}

.slider-about .slick-arrow {
  position: absolute;
  top: calc(100% + 28px);
  z-index: 10;
  width: 30px;
  height: 17px;

  @include tablet {
    top: calc(100% + 40px);
  }

  @include desktop {
    top: calc(100% + 47px);
  }
}

.slider-about .slick-arrow.slick-prev {
  left: calc(100% - 111px);
  background: url('../images/slider/svg-about-R.svg') 0 0 / 100% no-repeat;
  transform: rotate(180deg) translateY(7px);
}
.slider-about .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider-about .slick-arrow.slick-next {
  left: calc(100% - 50px);
  background: url('../images/slider/svg-about-R.svg') 0 0 / 100% no-repeat;
}

//! single-item

.single-item .slick-arrow {
  width: 40px;
  height: 40px;
}

.single-item .slick-next {
  position: absolute;
  right: 15;

  @include tablet {
    right: 47px;
  }

  @include desktop {
    right: 85px;
  }
}

.single-item .slick-prev {
  position: absolute;
  left: 15;

  @include tablet {
    left: 47px;
  }

  @include desktop {
    left: 85px;
  }
}

.single-item .slick-arrow.slick-prev {
  background: url(../images/rooms/luxe/hero/room_arrow-left.svg) 0 0 / 100%
    no-repeat;
}

.single-item .slick-arrow.slick-next {
  background: url(../images/rooms/luxe/hero/room_arrow-right.svg) 0 0 / 100%
    no-repeat;
}
